<div class="post-footer" id="post-bottom">
    <hr class="post-divider">
    <h1>Meta</h1>
    <p>
        <h4>Posted</h4>
        <code><%= page.date %></code>
    </p>
    
    <p>
        <h4>Permalink</h4>
        <a class="mono-font" href="<%= page.permalink %>"><%= page.permalink %></code></a> (<a href="javascript:copy('<%= page.permalink %>');">Copy</a>)
    </p>
</div>