<hr class="post-divider">
<h1>Meta</h1>
<p>
    Posted
    <br>
    <span class="mono-font"><%= page.date %></span>
</p>

<p>
    Last updated
    <br>
    <span class="mono-font"><%= page.updated %></span>
</p>

<p>
    Permalink
    <br>
    <a href="<%= page.permalink %>"><span class="mono-font"><%= page.permalink %></span></a>
</p>