<div class="project-container">
    <h1><span class="mono-font"><%= page.title %></span></h1>
    <% if (page.source_url) { %><h2><a href="<%= page.source_url %>"><i class="icofont-code-alt"></i> Source</a></h2><% } %>
</div>

<% if (page.content) { %>
    <hr class="post-divider">
<% } %>