<div class="post">
    <h1>Projects</h1>

    <ul>
        <% site.pages.each(function(page) { %> 

            <% if (page.layout === "project") { %>
                <li>
                    <%- partial("_partials/project_item.ejs", { project: page }) %>
                </li>
            <% } %>
        
        <% }) %>
    </ul>
</div>